[submodule "modules/terraform-aws-s3"]
	path = modules/terraform-aws-s3
	url = git@github.com:mikamakusa/terraform-aws-s3.git
[submodule "modules/terraform-aws-iam"]
	path = modules/terraform-aws-iam
	url = git@github.com:mikamakusa/terraform-aws-iam.git
